<gita-header-basic [isSidebarShown$]="isSidebarShown$" [headerNavItems]="headerNavItems" [collapser]="collapser"
    [expander]="expander" [authPref]="authPref" [prodPref]="prodPref">
    <ng-template [gitaHeaderMenu]="headerNavItems">
        <div class="flex pr-4 w-full">
            <p-menubar [model]="headerNavItems">
                <ng-template pTemplate="start">
                    <img src="assets/img/logo-1024.png" class="h-10" alt="logo">
                </ng-template>
                <ng-template pTemplate="end">
                    <input type="text" pInputText placeholder="Search" class="h-10 w-full">
                </ng-template>
            </p-menubar>
        </div>
    </ng-template>
</gita-header-basic>