<gita-header-basic [isSidebarShown$]="isSidebarShown$" [headerNavItems]="headerNavItems" [collapser]="collapser"
    [expander]="expander" [authPref]="authPref" [prodPref]="prodPref">
    <ng-template [gitaHeaderMenu]="headerNavItems">
        <div class="flex pr-4 w-full z-20">
            <p-menubar [model]="headerNavItems">
                <ng-template pTemplate="start">
                    <span class="tooltip tooltip-left tooltip-primary" data-tip="Home">
                        <img src="assets/img/logo-1024.png" class="h-10" alt="logo">
                    </span>
                </ng-template>
                <ng-template pTemplate="end">
                    <span class="tooltip tooltip-right tooltip-primary" data-tip="Statistics"><i
                            class="pi text-indigo-800 mx-1 pi-chart-line"></i>
                    </span>
                </ng-template>
            </p-menubar>
        </div>
    </ng-template>
</gita-header-basic>