<div #container class="stats stats-vertical lg:stats-horizontal shadow border-fuchsia-500 border-2">

    <div class="stat">
        <div class="stat-title">Patient Name</div>
        <div class="stat-value">ID: {{patient}}</div>
        <div class="stat-desc">Jan 1st - Feb 1st</div>
    </div>

    <div class="stat">
        <div class="stat-title">New Users</div>
        <div class="stat-value">4,200</div>
        <div class="stat-desc">↗︎ 400 (22%)</div>
    </div>

    <div class="stat">
        <div class="stat-title">New Registers</div>
        <div class="stat-value">1,200</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
    </div>

</div>