<footer class="py-5 sm:p-10 footer bg-base-200 text-base-content footer-center">
  <div>
    <div class="grid grid-flow-col text-3xl gap-4">
      <a>
        <fa-icon [icon]='faMarkdown'></fa-icon>
      </a>
      <a>
        <fa-icon [icon]='faGitlab'></fa-icon>
      </a>
      <a>
        <fa-icon [icon]='faGithub'></fa-icon>
      </a>
      <a>
        <fa-icon [icon]='faTwitter'></fa-icon>
      </a>
      <a>
        <fa-icon [icon]='faFacebook'></fa-icon>
      </a>
    </div>
  </div>
  <div>
    <p>Copyleft 🄯 2022 - No rights reserved</p>
  </div>
</footer>