<div class="flex flex-col place-items-center rounded-none w-full px-4 py-1 bg-cover mt-6 card bg-base-200">
  <p-table [value]="$fields | async" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>TypeName</th>
            <th>isList</th>
            <th>isEnum</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-$resp>
        <tr>
          <td>{{ $resp.name }}</td>
            <td>{{ $resp.typeName }}</td>
            <td>{{ $resp.isList }}</td>
            <td>{{ $resp.isEnum }}</td>
        </tr>
    </ng-template>
  </p-table>
</div>
